<h1 class="red-text">SwissBritNet</h1>
<ul>
    <li>
        <img src="../assets/img/collage/head-01.jpg" alt="portrait of a historic person"/>
    </li>
    <li>
        <img src="../assets/img/collage/letter-08.jpg" alt="image excerpt of a historic letter"/>
    </li>
    <li>
        <img src="../assets/img/collage/letter-10.jpg" alt="image excerpt of a historic letter"/>
    </li>
    <li>
        <img src="../assets/img/collage/letter-19.jpg" alt="image excerpt of a historic letter"/>
    </li>
    <li>
        <a href="../story_021_wettsteinsfriends.html"><img class="hover-story" src="../assets/img/collage/head-03.jpg" alt="portrait of a historic person"/></a>
    </li>
    <li>
        <img src="../assets/img/collage/head-09.jpg" alt="portrait of a historic person"/>
    </li>
    <li>
        <img src="../assets/img/collage/letter-06.jpg" alt="image excerpt of a historic letter"/>
    </li>
    <li>
        <img src="../assets/img/collage/letter-26.jpg" alt="image excerpt of a historic letter"/>
    </li>
    <li>
        <a href="../story_001_boundtobasel.html"><img class="hover-story" src="../assets/img/collage/head-16.jpg" alt="head"/></a>
    </li>
    <li>
        <img src="../assets/img/collage/letter-02.jpg" alt="image excerpt of a historic letter"/>
    </li>
    <li>
        <img src="../assets/img/collage/letter-13.jpg" alt="image excerpt of a historic letter"/>
    </li>
    <li>
        <a href="../story_002_beatles.html"><img class="hover-story" src="../assets/img/collage/head-07.jpg" alt="head"/></a>
    </li>
    <li>
        <img src="../assets/img/collage/letter-14.jpg" alt="image excerpt of a historic letter"/>
    </li>
    <li>
        <a href="../story_003_housewife.html"><img class="hover-story" src="../assets/img/collage/head-11.jpg" alt="image excerpt of a historic letter"/></a>
    </li>
    <li>
        <img src="../assets/img/collage/letter-05.jpg" alt="image excerpt of a historic letter"/>
    </li>
    <li>
        <img src="../assets/img/collage/head-14.jpg" alt="portrait of a historic person"/>
    </li>
    <li>
        <img src="../assets/img/collage/letter-22.jpg" alt="image excerpt of a historic letter"/>
    </li>
    <li>
        <a href="../story_004_oberkan.html"><img class="hover-story" src="../assets/img/collage/head-20.jpg" alt="portrait of a historic person"/></a>
    </li>
    <li>
        <a href="../story_019_reisbuchlein.html"><img class="hover-story" src="../assets/img/collage/head-19.jpg" alt="portrait of a historic person"/></a>
    </li>
    <li>
        <img src="../assets/img/collage/letter-29.jpg" alt="image excerpt of a historic letter"/>
    </li>
    <li>
        <a href="../story_005_ludlow.html"><img class="hover-story" src="../assets/img/collage/head-12.jpg" alt="image excerpt of a historic letter"/></a>
    </li>
    <li>
        <img src="../assets/img/collage/letter-18.jpg" alt="image excerpt of a historic letter"/>
    </li>
    <li>
        <img src="../assets/img/collage/letter-03.jpg" alt="image excerpt of a historic letter"/>
    </li>
    <li>
        <img src="../assets/img/collage/letter-15.jpg" alt="image excerpt of a historic letter"/>
    </li>
    <li>
        <img src="../assets/img/collage/letter-17.jpg" alt="image excerpt of a historic letter"/>
    </li>
    <li>
        <a href="../story_006_merian.html"><img class="hover-story" src="../assets/img/collage/head-13.jpg" alt="image excerpt of a historic letter"/></a>
    </li>
    <li>
        <img src="../assets/img/collage/letter-09.jpg" alt="image excerpt of a historic letter"/>
    </li>
    <li>
        <img src="../assets/img/collage/letter-01.jpg" alt="image excerpt of a historic letter"/>
    </li>
    <li>
        <a href="../story_022_twogents.html"><img class="hover-story" src="../assets/img/collage/letter-32.jpg" alt="image excerpt of a historic letter"/></a>
    </li>
    <li>
        <img src="../assets/img/collage/letter-28.jpg" alt="image excerpt of a historic letter"/>
    </li>
    <li>
        <a href="../story_002_beatles.html"><img class="hover-story" src="../assets/img/collage/head-02.jpg" alt="portrait of a historic person"/></a>
    </li>
    <li>
        <a href="../story_008_waldenses.html"><img class="hover-story" src="../assets/img/collage/letter-30.jpg" alt="image excerpt of a historic book"/></a>
    </li>
    <li>
        <img src="../assets/img/collage/head-15.jpg" alt="portrait of a historic person"/>
    </li>
    <li>
        <img src="../assets/img/collage/letter-27.jpg" alt="image excerpt of a historic letter"/>
    </li>
    <li>
        <img src="../assets/img/collage/letter-07.jpg" alt="image excerpt of a historic letter"/>
    </li>
    <li>
        <img src="../assets/img/collage/head-18.jpg" alt="portrait of a historic person"/>
    </li>
    <li>
        <img src="../assets/img/collage/head-17.jpg" alt="portrait of a historic person"/>
    </li>
    <li>
        <a href="../story_025_tschesuscreist.html"><img class="hover-story" src="../assets/img/collage/letter-04.jpg" alt="image excerpt of a historic letter"/></a>
    </li>
    <li>
        <img src="../assets/img/collage/head-08.jpg" alt="portrait of a historic person"/>
    </li>
    <li>
        <img src="../assets/img/collage/letter-21.jpg" alt="image excerpt of a historic letter"/>
    </li>
    <li>
        <img src="../assets/img/collage/letter-20.jpg" alt="image excerpt of a historic letter"/>
    </li>
    <li>
        <img src="../assets/img/collage/letter-22.jpg" alt="image excerpt of a historic letter"/>
    </li>
    <li>
        <img src="../assets/img/collage/head-05.jpg" alt="portrait of a historic person"/>
    </li>
    <li>
        <img src="../assets/img/collage/head-10.jpg" alt="portrait of a historic person"/>
    </li>
    <li>
        <a href="../story_007_platterfashion.html"><img class="hover-story" src="../assets/img/collage/letter-31.jpg" alt="drawing of two ladies"/></a>
    </li>
</ul>
<p class="collage-arrow">
    <a class="scrollTo" href="#"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
</p>