name: Update Footer Date

on:
  push:
    branches:
      - gh-pages

jobs:
  update-footer-date:
    runs-on: ubuntu-latest

    steps:
      - name: Check out the repository
        uses: actions/checkout@v3

      - name: Set current date
        id: date
        run: echo "date=$(date +"%d %B %Y")" >> $GITHUB_ENV

      - name: Delay to prevent duplicate build triggers
        run: sleep 60  # Waits 60 seconds before updating to avoid multiple build triggers

      - name: Update Last Updated Date in Footer
        run: |
          # 'env.date' is set earlier in the workflow and is valid in GitHub Actions -> ignore warning
          current_date="${{ env.date }}"
          sed -i "s/Last updated on: [0-9]\{1,2\} [A-Za-z]* [0-9]\{4\}/Last updated on: $current_date/" footer.html

      - name: Commit changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add footer.html
          git commit -m "[GitHub Actions]: Update footer date" || echo "No changes to commit"

      - name: Push changes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git push origin gh-pages